.pokemon-card {
    width: 200px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 4px;
    text-align: center;
    box-shadow: 7px 7px 21px -8px rgba(0, 0, 0, 0.75);
    transition: width 0.1s, height 0.1s, color 0.1s, background-color 0.5s;

    button {
        cursor: pointer;
    }
}

.pokemon-card:hover {
    width: 195px;
    height: 245px;
    color: #ffffff;
    background-color: rgb(165, 19, 19);
}
