html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 20vh 75vh 5vh;
  grid-template-columns: 3fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

.header {
  background: darkred;
  grid-area: header;
}

.main {
  margin-left: 10px;
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  background: black;
  grid-area: footer;
}
